<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">

        {{ content }}

        {% assign my_songs = site.pages | where: "tags", "daina" %}

          <table>
            <tr>
              <th>Daina</th>
              <th>Muzikos grupė</th>
            </tr>

            {% for song in my_songs %}
              {% tablerow detail in song.details: 2 %}
                {% assign group_page = site.pages | where: "title", "Pamesta Klumpė" | first %}
                {% assign group_page_link = group_page.url %}

                {% if detail[0] == "title" %}
                  <p><a href={{site.url}}/{{song.url}}>{{ detail[1] }}</a></p>
                {% else %}
                  <p><a href={{ group_page_link }}>{{ detail[1] }}</a></p>
                {% endif %}
              {% endtablerow %}
            {% endfor %}

          </table>

      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
