<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">

        {{ content }}

        {% assign song_collections = site.pages | where: "tags", "song_collection" %}

        {% for song_collection in song_collections %}
          {% assign group = song_collection.group %}
          <h2>{{group}}</h2>

          {% assign group_songs = site.pages | where: "tags", "daina" | where: "group", group %}

          <table>
            <tr>
              <th>Daina</th>
            </tr>
              {% tablerow song in group_songs: 1 %}
              <p><a href="{{site.baseurl}}{{song.url}}">{{song.title}}</a></p>
              {% endtablerow %}
          </table>

        {% endfor %}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
